.gallery-container {
  width: 100%;
  overflow: hidden;
  margin: 0.5rem 0;
}

.gallery-track {
  display: flex;
  width: max-content;
  animation: scrollLeft 35s linear infinite;
}

.gallery-card {
  flex: 0 0 auto;
  margin-right: 10px;

  height: 400px;
  display: flex;
  align-items: center;
}

.gallery-image {
  max-height: 100%;
  width: auto;
  display: block;
  border-radius: 8px;
}

/* Mobile */
@media (max-width: 768px) {
  .gallery-card {
    height: 300px;
  }

  .gallery-track {
    animation: scrollLeft 45s linear infinite;
  }
}

/* Animation */
@keyframes scrollLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}