/* .carousel-container {
  width: 100%;
  max-width: 800px;
  height: 400px;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.carousel-track {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 1.2s ease-in-out;
}

.carousel-image {
  min-width: 100%;
  height: 100%;
  object-fit: contain;
} */

.gallery-container {
  width: 100%;
  overflow: hidden;
  padding: 20px 0;
}

.gallery-track {
  display: flex;
  width: max-content;
  animation: scrollLeft 25s linear infinite;
}

.gallery-card {
  flex-shrink: 0;
  width: 300px;
  margin-right: 20px;
}

.gallery-image {
  width: 100%;
  height: 200px;
  object-fit: cover;

  border-radius: 10px;
  display: block;
}

/* Animation */
@keyframes scrollLeft {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}