.homePage {
    display: flex;
    min-height: 100vh;
    padding: 3rem 1.5rem;
    flex-direction: column;
    align-items: center;
    text-align: center;

    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: rgba(231, 109, 9, 0.685);
    color:rgb(0, 0, 128)
}

.homePage h1 {
    font-size: 4rem;
    margin-bottom: 1.5rem;
}

.homePage h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.homePage img {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 12px;
    margin: 2rem 0;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}