.homePage {
    display: flex;
    min-height: 100vh;
    padding: 3rem 1.5rem;
    flex-direction: column;
    align-items: center;
    text-align: center;

    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: rgba(191, 87, 0, 0.658);
    color:rgb(0, 0, 128)
}

.homePage h1 {
    font-size: 4rem;
    margin-bottom: 1.5rem;
}

.homePage h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.homePage img {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 12px;
    margin: 2rem 0;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}

.details-page {
    min-height: 100vh;
    padding: 3rem 1.5rem;
    margin: 0 auto;
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgba(191, 87, 0, 0.658);
    color: rgb(0, 0, 128);
}

.details-page h1 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
}

.details-page section {
    margin-bottom: 2rem;
}

.details-page h2 {
    margin-bottom: 1.75rem;
    margin-bottom: 0.75rem;
}

.details-content {
    max-width: 800px;
    margin: 0 auto;
}

.details-page section {
    margin-bottom: 2rem;
    padding: 1.5rem;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}