
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* navbar */

.navbar {
  width: 100%;
  padding: 1.5rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: rgb(92, 182, 131);
  border-bottom: 1px solid rgb(0, 0, 128);

  position: sticky;
  top: 0;
  z-index: 1000;

}

.nav-title {
  font-family: "Georgia", serif;
  font-size: 2rem;
}

.nav-links a {
  margin-left: 1.5rem;
  text-decoration: none;
  color: rgb(0, 0, 128);
  font-weight: 500;
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
}

.nav-links a:hover {
  text-decoration: underline;
}

.nav-links a.active {
  text-decoration: underline;
  font-weight: 600;
}