
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* navbar */

.navbar {
  width: 100%;
  padding: 1.5rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #8a9a5b;
  border-bottom: 1px solid rgb(0, 0, 128);

  position: sticky;
  top: 0;
  z-index: 1000;

}

.nav-title {
  font-family: "Georgia", serif;
  font-size: 2rem;
}

.nav-links a {
  margin-left: 1.5rem;
  text-decoration: none;
  color: rgb(0, 0, 128);
  font-weight: 500;
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
}

.nav-links a:hover {
  text-decoration: underline;
}

.nav-links a.active {
  text-decoration: underline;
  font-weight: 600;
}

.hamburger {
  z-index: 1100;
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
}

.hamburger-icon {
  display: inline-block;
  transition: transform 0.25s ease, opacity 0.2s ease;
}

.hamburger.open .hamburger-icon {
  transform: rotate(90deg);
}

@media (max-width: 768px) {

  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.3);
    z-index: 999;
    backdrop-filter: blur(2px);

    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .backdrop.show {
    opacity: 1;
  }

  .hamburger {
    display: block;
  }

  .nav-links {
    position: fixed;
    top: 0;
    right: 0;
    height: auto; 
    max-height: 100vh;
    width: 260px;

    background-color: rgba(138, 154, 91, 0.7);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(10px);

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 6rem 1.5rem 2rem;

    transform: translateX(100%);
    transition: transform 0.3s ease;

    z-index: 1000;

    box-shadow: -4px 0 20px rgba(0, 0, 0, 0.15);
  }

  .nav-links.open {
    transform: translateX(0);
  }

  .nav-links a {
    margin: 0 0 1.5rem 0;
    font-size: 1.4rem;
  }
}